input:focus{
    background-color: gray;
}
button{
    background-color: red;
}
button:hover{
    background-color: green;
}
p{
    background-color: lightcoral;
    font-weight: lighter;
}
p:hover{
    background-color: rgb(247, 72, 9);
    font-weight: 900;
    border:1px solid black;
}