#a{
    font-family: 'Whisper', cursive;
}
#b{
    font-family: 'Dancing Script', cursive;
font-family: 'Silkscreen', sans-serif;
font-family: 'Whisper', cursive;
}
#c{
    font-family: 'Dancing Script', cursive;
font-family: 'Lobster', sans-serif;
font-family: 'Silkscreen', sans-serif;
font-family: 'Whisper', cursive;
}