table,th,td{
    border:2px solid green;
    border-collapse: collapse;
    width:100%;
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:larger;
    color:rgb(248, 80, 108);

}
.scroll{
    overflow-x:scroll;
    overflow-y: scroll;
}
p{
    background-color: rgb(66, 3, 3);
    color:white;
    position:fixed;
}